*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
  }
  .mySlides {display: none;}
  img {vertical-align: middle;}
  #main{
  
  }
  
  #header{
  height: 46px;
  background-color: #000;
  border-bottom: 5px solid rgb(69, 61, 61);
  
  }
  
  #nav li{
    display: inline;
  
  }
  
  #nav li:hover a{
    color: #000;
    background-color:rgb(105, 220, 224) ;
  }
  
  #nav li a{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
  }
  #nav .subnav{
    display: none;
  }
  #nav .search{
   float:right;
    
    margin-top: 13px;
    margin-right: 5%;
  }
  #slide_content{
    display:flex;
  
  padding-top: 10px;
  background-color: rgb(77, 109, 137);
  }
  
  #slide_content #slider{
    
    border-right: 3px solid rgb(13, 13, 13);
    width: 150px
  
  }
  #slider li a{
    text-decoration: none;
    line-height: 46px;
    padding-top: 24px;
    padding-left: 24px;
    color: #000;
  }
  #slide_content #content{
  position: relative;
    margin-top: 10px;
   
    width: 80%;
    float: right;
    
    
  }
  
  
  #content #icon_slider{
    position: absolute;
    right:-170px;
    top: 0px;
    display: flex;
    flex-direction: column;
  }
  #content #icon_slider a{
    display: block;
    background-color: rgb(95, 131, 176);
    width:auto;
    text-decoration:  none;
    height: 40px;
    margin: 10px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    border-radius: 10px;
  
  }
  #icon_slider .icon:hover {
    transform: translateX(-40px);
  }
  #sanpham{
    height: 100%;
    width: 180%;
    display: flex;
  }
  #sanpham .anh{
    width: 55%;
    background-color: rgb(246, 237, 237);
    height: 100%;
  }
  #sanpham .thongtinsp{
    width: 45%;
    height: 100%;
    position: relative;
    left: 30px;
    top: 250px;
  }
  .thongtinsp .btns{
    display: block;
    width: 160px;
    height: 40px;
    background-color: rgb(107, 186, 236);
    border-radius: 10px;
    text-align: center;
    line-height: 30px;
    margin-left: 30px;
    color: black;
    font-size: larger;
    text-decoration: none;
    border: 2px solid rgb(236, 11, 11);
  }
  .column{
    margin: 9px;
  }
  .mySlides img{
    height: 490px;
    width: 70%;
    margin-left: 95px;
  }
  #footer{
    height: 250px;
    width: 1000%;
    background-color: rgb(123, 66, 41);
    color: #fff;
    
  }
  #footer h4{
  margin-left: 20px;
  
  }
  